In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By 
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd

In [11]:
url = 'https://www.infomoney.com.br/'

opções = Options()
opções.add_argument('--headless')
opções.add_argument('window-size:400,800')

navegador = webdriver.Chrome(options=opções)

navegador.get(url)

sleep(1)

tabelas = navegador.find_elements(By.TAG_NAME , 'table')

In [12]:
data = []
for i in range(len(tabelas)):
    for row in tabelas[i].find_elements(By.TAG_NAME , 'tr'):
        cols =  row.find_elements(By.TAG_NAME , 'td')
        cols = [col.text.strip() for col in cols]
        data.append(cols)
df = pd.DataFrame(data, columns = ['TICKER','PORCENTAGEM','VALOR DA AÇÃO'])

In [13]:
df

     TICKER PORCENTAGEM VALOR DA AÇÃO
0     ELET6      +3.66%      R$ 40,21
1     ELET3      +3.40%      R$ 37,09
2     YDUQ3      +1.94%      R$ 19,41
3     VIIA3      +1.69%       R$ 0,60
4     FLRY3      +1.45%      R$ 15,38
5    ENGI11      -1.78%      R$ 48,01
6     CYRE3      -1.41%      R$ 20,29
7     PETZ3      -1.40%       R$ 4,93
8     PRIO3      -1.36%      R$ 46,34
9     LREN3      -1.30%      R$ 13,62
10    DÓLAR      +0,06%       R$ 4,97
11  BITCOIN      -0,57%  R$ 129857,00