<h1>Criando um banco de dados em SQL com Python </h1>

In [1]:
#mágica sql para poder usar os comandos
%load_ext sql

In [2]:
#Biblioteca necessária 
import sqlite3

In [3]:
banco = sqlite3.connect('banco_de_dados.db')#esse comando cria o arquivo 'banco_de_dados.db' que será o nosso banco de dados

In [4]:
%%sql sqlite:///banco.db
-- Criando tabela "cliente" contendo informações como nome cpf cartao e data de nascimento 


CREATE TABLE if not exists cliente(
    nome_do_cliente VARCHAR(100) NOT NULL,
    cpf VARCHAR(100) NOT NULL,
    cartao VARCHAR(100),
    data_de_nascimento DATE);

Done.

[]

In [5]:
 %sql select * from cliente

 * sqlite:///banco.db
Done.

[]

In [6]:
%%sql

--Adicionando algunas valores a essa tabela 

INSERT INTO cliente (nome_do_cliente,cpf,cartao,data_de_nascimento) VALUES
    ('Leonardo','4353453453','12341234','18-01-1990'),
    ('Carlos','432565453','21342143','09-05-2010'),
    ('Lucas','5365436365','12341234','10-10-2001'),
    ('Diego','3563653464','134124321','27-01-1980'),
    ('Joao','245254352','123424231','13-04-1930');

 * sqlite:///banco.db
5 rows affected.

[]

In [7]:
%sql select * from cliente

 * sqlite:///banco.db
Done.

[('Leonardo', '4353453453', '12341234', '18-01-1990'),
 ('Carlos', '432565453', '21342143', '09-05-2010'),
 ('Lucas', '5365436365', '12341234', '10-10-2001'),
 ('Diego', '3563653464', '134124321', '27-01-1980'),
 ('Joao', '245254352', '123424231', '13-04-1930')]

In [8]:
banco.close()